<!-- <body class="g-sidenav-show  bg-gray-100"> -->


<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6 mb-xl-0 mb-4">
          <div class="card bg-transparent shadow-xl">
            <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
              <span class="mask bg-gradient-dark"></span>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <img src="" alt="">
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$2000</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6 mb-xl-0 mb-4">
          <div class="card bg-transparent shadow-xl">
            <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
              <span class="mask bg-gradient-dark"></span>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fas fa-landmark opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Salary</h6>
                <span class="text-xs">Belong Interactive</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">+$2000</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6 mb-xl-0 mb-4">
          <div class="card bg-transparent shadow-xl">
            <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
              <span class="mask bg-gradient-dark"></span>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fas fa-landmark opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Salary</h6>
                <span class="text-xs">Belong Interactive</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">+$2000</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fab fa-paypal opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Paypal</h6>
                <span class="text-xs">Freelance Payment</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">$455.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- </body> -->