<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!--logic delete users-->
<script>
  $(document).ready(function() {

    function getIdsToDelete() {
      let ids = [];
      $('#userTable tr').filter(':has(:checkbox:checked)').each(function() {
        const id = $(this).find("td:nth-child(3)").text().replace(/\s+/g, '');
        ids.push(id);
      });
      return ids;
    }

    let ids = [];
    $('.deleteGr').click(function() {
      ids = getIdsToDelete();

      if (ids.length == 0) {
        $('#popupDeleteGrNoData').click();
      } else {
        $('#popupDeleteGr').click();
      }

    })

    $('#buttonDeleteGr').click(function() {

      $.ajax({
        url: '/admin/users/',
        type: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({
          ids
        }),
        success: function(res) {
          location.reload();
        }
      })

    })
  })
</script>

<script>
  $(document).ready(function() {

    $('.passChange').click(function() {
      const username = $(this).closest("tr").find("td:nth-child(3)").text().replace(/\s+/g, '');
      const link = '/admin/users/password/' + username;
      window.location.href = link;
    });
  });
</script>

<script>
  $('#clickMe').click(function() {
    const text = $('#storyid').text();
    CKEDITOR.instances['story'].setData(text);
  })
  $(document).ready(function() {
    $('#clickMe').click();
  })
</script>


<script>
  $('#edit').click(function() {
    const username = $('#username').val();
    const link = '/admin/users/edit/' + username;
    window.location.href = link;
  })
</script>

<!--logic delete user-->
<script>
  $(document).ready(function() {
    $(".delete").click(function() {
      let username = $(this).closest("tr").find("td:nth-child(3)").text();
      username = username.replace(/ /g, '');
      username = username.replace(/(\r\n|\n|\r)/gm, "");
      $('#delete').text(username);
      $("#popupDelete").click();
    })
  })

  $(document).ready(function() {
    $("#buttonDelete").click(function() {
      const username = $('#delete').text();

      $.ajax({
        url: '/admin/users/delete',
        type: 'DELETE',
        data: {
          username
        },
        success: function(res) {
          location.reload();
        }
      })

    })
  })
</script>

<script src="/toStringDate.js"></script>
<!--form detail user-->
<script>
  $(document).ready(function() {
    $(".detail").click(function() {
      // get and format id from ui of users 
      const id = $(this).closest("tr").find("td:nth-child(4)").text().replace(/\s+/g, '');
      $.ajax({
        url: `/admin/users/detail/${id}`,
        type: 'GET',
        success: function(res) {
          const birthday = toStringDate.dmy(res.birthday)
          $('#birthday').val(birthday)

          const mapping = {
            username: 'username',
            pass: 'password',
            name: 'name',
            phone: 'phone',
            address: 'address',
            email: 'email',
            city: 'city',
            district: 'district',
            sex: 'sex',
            role: 'role',
          }

          for (const key in mapping) {
            const value = mapping[key];
            let fieldValue = res;
            value.split('.').forEach(prop => {
              fieldValue = fieldValue[prop];
            });
            $('#' + key).val(fieldValue);
          }

          CKEDITOR.instances['story'].setData(res.story);

          $('#exampleModalCenter2').attr('style', 'overflow: auto !important;')
          $('#popupDetail').click();
        }
      });

    })
  });
</script>


<script>
  $(document).ready(function() {
    $(".edit").click(function() {
      const username = $(this).closest("tr").find("td:nth-child(3)").text().replace(/\s+/g, '');
      const link = '/admin/users/edit/' + username;
      window.location.href = link;
    })
  });
</script>


<!--form add user-->
<script>
  $(document).ready(function() {

    $('#formMembersAdd').on('submit', function(e) {
      e.preventDefault();
      const flag = 1;
      const flagSyntax = 1;
      const displayName = $('#nameMem').val();
      const username = $('#usernameMem').val();
      const password = $('#passwordAdd').val();
      const confirmPassword = $('#confirmPassword').val()
      const phone = $('#phoneMem').val();
      const address = $('#addressMem').val();
      const email = $('#emailMem').val();
      const city = localStorage.getItem('address_1_saved')
      const district = localStorage.getItem('address_2_saved')
      const sex = $('#sexMem').val();
      const birthday = $('#birthdayMem').val();
      const role = $('#role').val();
      const story = CKEDITOR.instances['storyMem'].getData();


      if (flag == 0 || flagSyntax == 0) {
        $('#main').animate({
          scrollTop: 0
        }, 300);
      }


      if (flag == 1 && flagSyntax == 1) {
        $('#noteMember').removeClass('unhiden');
        $('#noteMember').addClass('hiden');
        $.ajax({
          url: '/admin/users/add',
          type: 'POST',
          data: {
            displayName,
            username,
            password,
            phone,
            confirmPassword,
            email,
            address,
            city,
            district,
            sex,
            birthday,
            role,
            story
          },
          success: function(response) {
            $('#msg').html(response.msg);
            $('#popupInfo').click();
          },
          error: function(xhr, status, error) {
            if (xhr.responseJSON) {
              $("#msg").html(xhr.responseJSON.message);
              $("#popupInfo").click();
            }
          }
        });
        return false;
      }
    })
  });
</script>

<!--form edit user-->
<script>
  $(document).ready(function() {
    $('#formMembersEdit').on('submit', function(e) {
      e.preventDefault();
      const displayName = $('#nameMem').val();
      const username = $('#usernameMem').val();
      const phone = $('#phoneMem').val();
      const address = $('#addressMem').val();
      const email = $('#emailMem').val();
      const city = localStorage.getItem('address_1_saved');
      const district = $('.district').val();
      const sex = $('#sexMem').val();
      const birthday = $('#birthdayMem').val();
      const role = $('#role').val();
      const story = CKEDITOR.instances['story'].getData();

      $('#noteMember').removeClass('unhiden');
      $('#noteMember').addClass('hiden');
      const id = $('#idUser').val();

      const requestData = {
        id,
        displayName,
        username,
        phone,
        email,
        address,
        city,
        district,
        sex,
        birthday,
        role,
        story
      };

      $.ajax({
        url: '/admin/users/update-profile',
        type: 'PUT',
        data: requestData,
        success: function(res) {
          $('#msg').html(res.msg || res.message);
          $('#popupInfo').click();
        },
        error: function(xhr, status, error) {
          if (xhr.responseJSON && xhr.responseJSON.message) {
            $("#msg").html(xhr.responseJSON.message);
            $("#popupInfo").click();
          }
        }
      });
      return false;
    });
  });
</script>

<!--form update password user-->
<script>
  $(document).ready(function() {
    $('#formChangePass').on('submit', function(e) {
      e.preventDefault();
      const username = $('#thisUsername').val();
      const password = $('#oldPass').val();
      const newPassword = $('#newPass').val();
      const confirmNewPassword = $('#confirmPass').val();

      $.ajax({
        url: '/admin/password/update-password',
        type: 'PUT',
        data: {
          username,
          password,
          newPassword,
          confirmNewPassword
        },
        success: function(res) {
          $('#msg').html(res.msg || res.message);
          $('#popupInfoPassChange').click();
        },
        error: function(xhr, status, error) {
          if (xhr.responseJSON && xhr.responseJSON.message) {
            $("#msg").html(xhr.responseJSON.message);
            $("#popupInfoPassChange").click();
          }
        }
      })

    })
  });
</script>

<script>
  $(document).ready(function() {
    let arr = [];
    $.ajax({
      url: '/admin/users/list',
      type: 'GET',
      success: function(res) {
        for (var i = 0; i < res.data.length; i++) {
          arr[i] = res.data[i].name;
        }
      }
    });

    $("#searchName").autocomplete({
      source: arr
    });


    $('#searchForm').on('submit', function(e) {
      e.preventDefault();

      const name = $('#searchName').val();

      const link = '/admin/users/search/' + name;
      window.location.href = link;
    })
  })
</script>

<!--logic select province and city of user-->
<script src="/provinceCity.js"></script>
<script>
  if (address_2 = localStorage.getItem('address_2_saved')) {
    $('select[name="calc_shipping_district"] option').each(function() {
      if ($(this).text() == address_2) {
        $(this).attr('selected', '')
      }
    })
    $('input.billing_address_2').attr('value', address_2)
  }

  if (district = localStorage.getItem('district')) {
    $('select[name="calc_shipping_district"]').html(district)
    $('select[name="calc_shipping_district"]').on('change', function() {
      var target = $(this).children('option:selected')
      target.attr('selected', '')
      $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
      address_2 = target.text()
      $('input.billing_address_2').attr('value', address_2)
      district = $('select[name="calc_shipping_district"]').html()
      localStorage.setItem('district', district)
      localStorage.setItem('address_2_saved', address_2)
    })
  }

  $('select[name="calc_shipping_provinces"]').each(function() {
    var $this = $(this),
      stc = ''
    c.forEach(function(i, e) {
      e += +1
      stc += '<option value=' + e + '>' + i + '</option>'
      $this.html('<option value="">Province/ City</option>' + stc)
      if (address_1 = localStorage.getItem('address_1_saved')) {
        $('select[name="calc_shipping_provinces"] option').each(function() {
          if ($(this).text() == address_1) {
            $(this).attr('selected', '')
          }
        })
        $('input.billing_address_1').attr('value', address_1)
      }

      $this.on('change', function(i) {
        i = $this.children('option:selected').index() - 1
        var str = '',
          r = $this.val()
        if (r != '') {
          arr[i].forEach(function(el) {
            str += '<option value="' + el + '">' + el + '</option>'
            $('select[name="calc_shipping_district"]').html('<option value="">District</option>' + str)
          })
          var address_1 = $this.children('option:selected').text()
          var district = $('select[name="calc_shipping_district"]').html()
          localStorage.setItem('address_1_saved', address_1)
          localStorage.setItem('district', district)
          $('select[name="calc_shipping_district"]').on('change', function() {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            var address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
          })
        } else {
          $('select[name="calc_shipping_district"]').html('<option value="">District</option>')
          district = $('select[name="calc_shipping_district"]').html()
          localStorage.setItem('district', district)
          localStorage.removeItem('address_1_saved', address_1)
        }
      })
    })
  })
</script>