<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<script>
  $(document).ready(function() {
    var arr = [];

    $('.deleteGr').click(function() {
      var i = 0;
      $('#userTable tr').filter(':has(:checkbox:checked)').each(function() {
        var username = $(this).closest("tr").find("td:nth-child(3)").text();
        username = username.replace(/ /g, '');
        username = username.replace(/(\r\n|\n|\r)/gm, "");

        arr[i] = username;
        i++;
      });

      if (arr.length == 0) {
        $('#popupDeleteGrNoData').click();
      } else {
        $('#popupDeleteGr').click();
      }

    })

    $('#buttonDeleteGr').click(function() {

      $.ajax({
        url: '/admin/users/deleteGr',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          arr: arr
        }),
        success: function(res) {
          location.reload();
        }
      })

    })
  })
</script>


<script>
  $(document).ready(function() {
    var arr = [];

    $('.passChange').click(function() {
      var i = 0;
      var username = $(this).closest("tr").find("td:nth-child(3)").text();
      username = username.replace(/ /g, '');
      username = username.replace(/(\r\n|\n|\r)/gm, "");
      var link = '/admin/users/password/' + username;
      window.location.href = link;

    })
  })
</script>

<script>
  $('#clickMe').click(function() {
    var text = $('#storyid').text();
    CKEDITOR.instances['story'].setData(text);
  })
  $(document).ready(function() {
    $('#clickMe').click();
  })
</script>


<script>
  $('#edit').click(function() {
    var username = $('#username').val();
    var link = '/admin/users/edit/' + username;
    window.location.href = link;
  })
</script>

<script>
  $(document).ready(function() {
    $(".delete").click(function() {
      var username = $(this).closest("tr").find("td:nth-child(3)").text();
      username = username.replace(/ /g, '');
      username = username.replace(/(\r\n|\n|\r)/gm, "");
      $('#delete').text(username);
      $("#popupDelete").click();
    })
  })

  $(document).ready(function() {
    $("#buttonDelete").click(function() {
      var username = $('#delete').text();

      $.ajax({
        url: '/admin/users/delete',
        type: 'POST',
        data: {
          username
        },
        success: function(res) {
          location.reload();
        }
      })

    })
  })
</script>





<script>
  $(document).ready(function() {
    $(".detail").click(function() {
      var username = $(this).closest("tr").find("td:nth-child(3)").text();
      username = username.replace(/ /g, '');
      username = username.replace(/(\r\n|\n|\r)/gm, "");

      $.ajax({
        url: '/admin/users/showDetail',
        type: 'POST',
        data: {
          username
        },
        success: function(res) {
          var birthday;
          if (res.data[0].birthday == '') {
            birthday = '';
          } else {
            var arr = res.data[0].birthday.split('-');
            birthday = arr[2] + '-' + arr[1] + '-' + arr[0];
          }
          $('#username').val(res.data[0].username);
          $('#pass').val(res.data[0].password);
          $('#name').val(res.data[0].name);
          $('#phone').val(res.data[0].phone);
          $('#email').val(res.data[0].email);
          $('#address').val(res.data[0].address);
          $('#city').val(res.data[0].city);
          $('#district').val(res.data[0].district);
          $('#sex').val(res.data[0].sex);
          $('#role').val(res.data[0].role);
          $('#birthday').val(birthday);

          CKEDITOR.instances['story'].setData(res.data[0].story);

          $('#exampleModalCenter2').attr('style', 'overflow: auto !important;')
          $('#popupDetail').click();
        }
      });

    })
  });
</script>


<script>
  $(document).ready(function() {
    $(".edit").click(function() {
      var username = $(this).closest("tr").find("td:nth-child(3)").text();
      username = username.replace(/ /g, '');
      username = username.replace(/(\r\n|\n|\r)/gm, "");
      var link = '/admin/users/edit/' + username;
      window.location.href = link;
    })
  });
</script>



<script>
  $(document).ready(function() {

    $('#formMembersAdd').on('submit', function(e) {
      e.preventDefault();
      const flag = 1;
      const flagSyntax = 1;
      const displayName = $('#nameMem').val();
      const username = $('#usernameMem').val();
      const password = $('#passwordAdd').val();
      const confirmPassword = $('#confirmPassword').val()
      const phone = $('#phoneMem').val();
      const address = $('#addressMem').val();
      const email = $('#emailMem').val();
      const city = localStorage.getItem('address_1_saved')
      const district = localStorage.getItem('address_2_saved')
      const sex = $('#sexMem').val();
      const birthday = $('#birthdayMem').val();
      const role = $('#role').val();
      const story = CKEDITOR.instances['storyMem'].getData();


      if (flag == 0 || flagSyntax == 0) {
        $('#main').animate({
          scrollTop: 0
        }, 300);
      }


      if (flag == 1 && flagSyntax == 1) {
        $('#noteMember').removeClass('unhiden');
        $('#noteMember').addClass('hiden');
        console.log(password)
        $.ajax({
          url: '/admin/users/add',
          type: 'POST',
          data: {
            displayName,
            username,
            password,
            phone,
            confirmPassword,
            email,
            address,
            city,
            district,
            sex,
            birthday,
            role,
            story
          },
          success: function(response) {
            $('#msg').html(response.msg);
            $('#popupInfo').click();
          },
          error: function(xhr, status, error) {
            if (xhr.responseJSON) {
              $("#msg").html(xhr.responseJSON.error);
              $("#popupInfo").click();
            }
          }
        });
        return false;
      }
    })
  });
</script>

<script>
  $(document).ready(function() {

    $('#formMembersEdit').on('submit', function(e) {
      e.preventDefault();

      const displayName = $('#nameMem').val();
      const username = $('#usernameMem').val();

      const phone = $('#phoneMem').val();
      const address = $('#addressMem').val();
      const email = $('#emailMem').val();
      const city = localStorage.getItem('address_1_saved')
      const district = $('.district').val();
      const sex = $('#sexMem').val();
      const birthday = $('#birthdayMem').val();
      const role = $('#role').val();
      const story = CKEDITOR.instances['story'].getData();

      $('#noteMember').removeClass('unhiden');
      $('#noteMember').addClass('hiden');
      var id = $('#idUser').val();
      $.ajax({
        url: '/admin/users/update',
        type: 'POST',
        data: {
          id,
          displayName,
          username,
          phone,
          email,
          address,
          city,
          district,
          sex,
          birthday,
          role,
          story
        },
        success: function(res) {
          $('#msg').html(res.msg || res.message);
          $('#popupInfo').click();
        },
        error: function(xhr, status, error) {
          if (xhr.responseJSON && xhr.responseJSON.message) {
            $("#msg").html(xhr.responseJSON.message);
            $("#popupInfo").click();
          }
        }
      });
      return false;
    })
  });
</script>


<script>
  $(document).ready(function() {
    $('#formChangePass').on('submit', function(e) {
      e.preventDefault();
      var flag = 1;
      var username = $('#thisUsername').val();
      var oldPass = $('#oldPass').val();
      var newPass = $('#newPass').val();
      var confirmPass = $('#confirmPass').val();

      var pattern = /[0-9]+/;
      var pattern1 = /[a-z]+/;
      var pattern2 = /[A-Z]+/;
      var pattern3 = /[!@#$%^&*]+/;
      var pattern4 = /.{6,}/;


      if (oldPass.length == 0) {
        flag = 0;
        $("#oldPassError").html("(*)");
        $("#oldPassErrorText").html("Please fill up the infomation above");
      } else if (oldPass.length < 6 || oldPass.length > 30) {
        flag = 0;
        $("#oldPassError").html("(*)");
        $("#oldPassErrorText").html("Password has minimum 6 and maximum 30 characters");
      } else if (pattern.test(oldPass) == false || pattern1.test(oldPass) == false ||
        pattern2.test(oldPass) == false || pattern3.test(oldPass) == false || pattern4.test(oldPass) == false) {
        flag = 0;
        $("#oldPassError").html("(*)");
        $("#oldPassErrorText").html("Password is not correct");
      } else {
        $("#oldPassError").html("");
        $("#oldPassErrorText").html("");
      }

      if (newPass.length == 0) {
        flag = 0;
        $("#newPassError").html("(*)");
        $("#newPassErrorText").html("Please fill up the infomation above");
      } else if (newPass.length < 6 || newPass.length > 30) {
        flag = 0;
        $("#newPassError").html("(*)");
        $("#newPassErrorText").html("Password has minimum 6 and maximum 30 characters");
      } else if (pattern.test(oldPass) == false || pattern1.test(oldPass) == false ||
        pattern2.test(oldPass) == false || pattern3.test(oldPass) == false || pattern4.test(oldPass) == false) {
        flag = 0;
        $("#newPassError").html("(*)");
        $("#newPassErrorText").html("Password must contain at least 1 lowercase, 1 uppercase, 1 number and 1 special character");
      } else {
        $("#newPassError").html("");
        $("#newPassErrorText").html("");
      }

      if (confirmPass.length == 0) {
        flag = 0;
        $("#confirmPassError").html("(*)");
        $("#confirmPassErrorText").html("Please fill up the infomation above");
      } else if (confirmPass.length < 6 || confirmPass.length > 30) {
        flag = 0;
        $("#confirmPassError").html("(*)");
        $("#confirmPassErrorText").html("Password has minimum 6 and maximum 30 characters");
      } else if (pattern.test(oldPass) == false || pattern1.test(oldPass) == false ||
        pattern2.test(oldPass) == false || pattern3.test(oldPass) == false || pattern4.test(oldPass) == false) {
        flag = 0;
        $("#confirmPassError").html("(*)");
        $("#confirmPassErrorText").html("Password must contain at least 1 lowercase, 1 uppercase, 1 number and 1 special character");
      } else {
        $("#confirmPassError").html("");
        $("#confirmPassErrorText").html("");
      }

      if (flag == 1) {
        $.ajax({
          url: '/admin/users/updatePassword',
          type: 'POST',
          data: {
            username,
            oldPass,
            newPass
          },
          success: function(res) {
            if (res.kq == 1) {
              $('#msg').text(res.msg);
              $('#popupInfoPassChange').click();

            } else {
              $('#msg').text(res.msg);
              $('#popupInfoPassChange').click();
            }
          }
        })
      }

    })
  });
</script>


<script>
  $(document).ready(function() {
    var arr = [];
    $.ajax({
      url: '/admin/users/getAllUser',
      type: 'GET',
      success: function(res) {
        for (var i = 0; i < res.data.length; i++) {
          arr[i] = res.data[i].name;
        }
      }
    });

    $("#searchName").autocomplete({
      source: arr
    });


    $('#searchForm').on('submit', function(e) {
      e.preventDefault();

      var name = $('#searchName').val();

      var link = '/admin/users/search/' + name;
      window.location.href = link;
    })
  })
</script>

<script src="/provinceCity.js"></script>
<script>
  if (address_2 = localStorage.getItem('address_2_saved')) {
    $('select[name="calc_shipping_district"] option').each(function() {
      if ($(this).text() == address_2) {
        $(this).attr('selected', '')
      }
    })
    $('input.billing_address_2').attr('value', address_2)
  }

  if (district = localStorage.getItem('district')) {
    $('select[name="calc_shipping_district"]').html(district)
    $('select[name="calc_shipping_district"]').on('change', function() {
      var target = $(this).children('option:selected')
      target.attr('selected', '')
      $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
      address_2 = target.text()
      $('input.billing_address_2').attr('value', address_2)
      district = $('select[name="calc_shipping_district"]').html()
      localStorage.setItem('district', district)
      localStorage.setItem('address_2_saved', address_2)
    })
  }

  $('select[name="calc_shipping_provinces"]').each(function() {
    var $this = $(this),
      stc = ''
    c.forEach(function(i, e) {
      e += +1
      stc += '<option value=' + e + '>' + i + '</option>'
      $this.html('<option value="">Province/ City</option>' + stc)
      if (address_1 = localStorage.getItem('address_1_saved')) {
        $('select[name="calc_shipping_provinces"] option').each(function() {
          if ($(this).text() == address_1) {
            $(this).attr('selected', '')
          }
        })
        $('input.billing_address_1').attr('value', address_1)
      }

      $this.on('change', function(i) {
        i = $this.children('option:selected').index() - 1
        var str = '',
          r = $this.val()
        if (r != '') {
          arr[i].forEach(function(el) {
            str += '<option value="' + el + '">' + el + '</option>'
            $('select[name="calc_shipping_district"]').html('<option value="">District</option>' + str)
          })
          var address_1 = $this.children('option:selected').text()
          var district = $('select[name="calc_shipping_district"]').html()
          localStorage.setItem('address_1_saved', address_1)
          localStorage.setItem('district', district)
          $('select[name="calc_shipping_district"]').on('change', function() {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            var address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
          })
        } else {
          $('select[name="calc_shipping_district"]').html('<option value="">District</option>')
          district = $('select[name="calc_shipping_district"]').html()
          localStorage.setItem('district', district)
          localStorage.removeItem('address_1_saved', address_1)
        }
      })
    })
  })
</script>